.header{font-weight: 500;padding-left:2%;text-align: left;line-height: 1.5; }

.cur{cursor: pointer;height: 80%;}
.cur:hover{transform: translateY(-20px);}
.point{cursor: pointer;}
.nav-div{ color:#06bbcc; font-size: 1.8rem; font-family:sans-serif; font-weight: 700; line-height: 2.0;padding-right: 2px;}
.nav-div:hover{color:#06bbcc;outline: 0;}

span{color: #f60;}

.navbar1-div{color:#f60;font-size: 17px;outline: 0;font-weight: 400;}

.navbar-div{ color: #181d38;transition: color 0.15s ease-in-out,background-color 0.15s ease-in-out,border-color 0.15s ease-in-out;font-size: 17px;outline: 0;font-weight: 500}

.navbar-div:hover{ color:#f60;}

.button{ width: 150px; padding: 15px 0; text-align: center; margin: 0 1rem; border-radius: 8px; font-weight: 500; border: 1px solid #fd5f00;background: #fd5f00; color: #fff; cursor: pointer; line-height: 1.5;
 font-size: 1.1rem;}
.button:hover{  background:#f60;  border: 1px solid #f60;}

.imgcard{width:80px;justify-content: center;text-align: center;box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);background-color: #f60;color:rgba(255, 255, 255, 0.8);}

.body-div{box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1);background:#F0FBFC;transition: 0.5s;}
.body-div:hover{background:#06bbcc;}

.mt{ margin-top: 30px; margin-bottom: 80px;}
.hover-div:hover{
    filter: drop-shadow(0 2px 6px rgba(208, 224, 240, .8));
}

.image-div{ width: 100%; margin-bottom: 80px; }
.counter-div{padding: 30px 60px; display: flex; cursor:pointer; background-color: transparent;}

.counter1{color: #de1819;font-size: 40px;font-weight: 600;line-height: 1;text-align: center;}

.counter2{ color: #de1819; ; font-size: 16px; font-weight: 500; text-transform: uppercase; line-height: 1em;
 text-align: center;vertical-align: baseline;}

.underline{
    list-style-type:square;
}

.info-div h1{font-size:2.5rem ;font-weight: 700;line-height: 2.5;font-family: sans-serif;}

.info-div p{margin-bottom: 1.5rem;font-family: "Heebo",sans-serif;font-size: 1rem;font-weight: 400;line-height: 1.6;color: #52565b;}

.button-div{border-color: #1fc2d1;vertical-align: middle;cursor: pointer;position: relative;top: 15px;}

.courses-div{ text-align: center; margin-top: 60px; margin-bottom: 40px;}

.item-div{ font-size: 12px; text-transform: uppercase; letter-spacing: 1px; font-weight: 600; font-family: Arial, Helvetica, sans-serif;color: #666666;cursor: pointer;}
.primary{
    background: #fd5f00;border: 1px solid #fd5f00;color: #fff;cursor: pointer;border-radius: 40px;
box-shadow: none ;display: inline-block; font-weight: 400;text-align: center;user-select: none;padding: 0.375rem 0.75rem;font-size: 1rem;line-height: 1.5;text-decoration: none;}

.primary:hover{ color: #F0FBFC; background-color:#f60; }

.blog-para{ font-size: 16px;line-height: 1.8; font-weight: 400; color: #666666;}
.blog-sec{margin-bottom: 30px; margin-top: 50px; text-align:center;}

.card-div{cursor: pointer;font-size: 23px;font-weight: 600;color: #181d38;line-height: 1.5;font-family: Arial, Helvetica, sans-serif;}
.card-div:hover{ color: #fd5f00;}

.card-div1{color: rgb(102,102,102);margin-top: 0px;margin-bottom: 1rem;display: block;font-family: Arial, Helvetica, sans-serif;font-size: 15px;cursor: pointer;}

.c1-div{ margin-bottom: 40px;animation-name: fadeInUp;animation-duration: 0.5s;animation-fill-mode: both;}

@keyframes fadeInUp{
    0% {
        opacity: 0;
        visibility: visible;
        transform: translate3d(0px, 40px, 0px);
    }
    100% {
        visibility: visible;
        opacity: 1;
        transform: none;
    }
}
.d-inline-flex{color:#181d38;}

.d-inline-flex:hover{color: #fd5f00;}

.teacher-div{text-align: center;margin-top: 60px;margin-bottom: 40px;}

.teach-div{color:#fd5f00;cursor: pointer;text-transform: uppercase;letter-spacing: 1.5px;font-size: 12px;font-weight: 500;font-family: Arial, sans-serif;}

.blog-di{text-align: center;margin-top: 60px;margin-bottom: 40px;}
.blog-divi{text-align: center;margin-top: 60px;margin-bottom: 40px;}

.test-div{text-align: center;margin-top: 60px;margin-bottom: 40px;}

.card{box-shadow: 0 0 12px 0 rgba(0, 0, 0, 0.2);}

.courses-card{ transition-duration:0.3;}

.courses-card:hover{transform: scale(0.9);transition: transform 0.7s;border-color: #02010100;border-radius: 20px 20px 20px 20px;}

.d-inline-flex{
        cursor: pointer;
      }
.teachers-card:hover{transform: scale(0.9);transition: transform 0.7s;border-color: #02010100;border-radius: 20px 20px 20px 20px;}

.teach{cursor: pointer;font-size: 23px;font-weight: 600;}

.teach1{color: rgb(253, 95, 0);cursor: pointer;letter-spacing: 2px;font-size: 15px;font-weight: 500;font-family: Arial, sans-serif;}

.teach2{color: rgb(102,102,102);margin-top: 0px;margin-bottom: 1rem;display: block;font-family: Arial, Helvetica, sans-serif;font-size: 15px;cursor: pointer;}

.contact-div{text-align: center;margin-top: 60px;margin-bottom: 40px;}
.recent{text-align: center;margin-top: 60px;margin-bottom: 40px;}

.color-div{ color: #181d38;}

.img-div{width: 100%;}

.card-contact{ height: 180px; }
.con-div:hover{transform: translatex(-20px);}
.con1-div:hover{transform: translateY(-20px);}

.frame-map{
    height: 500px;
    width: 100%;
    margin-top:20px;
}
.form-div{ position: relative; top: 40px;}

.message{ background: rgb(253, 95, 0); border: 1px solid rgb(253, 95, 0);color: rgb(255, 255, 255);cursor: pointer;border-radius: 40px;box-shadow: none;text-align: center;position: relative;top: 10px;font-size: 1rem;}

.message:hover{ background: rgb(253, 95, 0);border-color: #f60;transform: scale(1.1);}

.more-div1{margin: 0 0 1em;padding: 0;border: 0;font: inherit;vertical-align: baseline;font-weight: 500;}

.more-div2{font-family: montserrat,Sans-serif;font-size: 15px;font-weight: 400;line-height: 1.5em;}

.collab-div{ width: 200px; padding: 0; margin-right: 11px; border-width: 1px; border-radius: 20px; padding: 0; border-style: solid;cursor: pointer;will-change: transform;}
.collab-div1{ background: no-repeat 50%; background-size: cover; height: 100%; position: relative; cursor: pointer;}

.applicant{ background-color:#de1819; height: 40px; font-size: 25px; color: #F0FBFC; font-family:monospace; font-weight: 400; width: 100%;text-align: center;}

.a1{ color: #fd5f00;}

.about-dy{ width: 80px; justify-content: center;  text-align: center; box-shadow: 0px 2px 25px rgba(0, 0, 0, 0.1); color: rgba(255, 255, 255, 0.8); animation-name: fadeInUp;animation-duration: 0.5s;animation-fill-mode: both;}

.career{background-color: #de1819;color: #F0FBFC;height: 200px;}

.c1{ font-family: 'Times New Roman', Times, serif; word-spacing: 1.2px; margin-left: 25px;margin-top: 20px;font-size: 45px;font-weight: 500;line-height: 1.2em;}

.button4{
    width: 25%; padding: 20px 0; text-align: center; margin: 0 1rem;border-radius:5px 5px;font-weight: 500;border: 1px solid #292929;background:#292929; position: relative; left: 900px; bottom:120px; color: #ffffff; cursor: pointer; line-height: 1.5;font-size: 18px;}
.button4:hover{ background:#de1819;border: 1px solid #de1819 transparent;}

.button5{width: 15%;padding: 20px 0;text-align: center; margin: 0 1rem;border-radius:5px 5px;font-weight: 600;position: relative; left: 480px; bottom: 55px; color: #ffffff;cursor: pointer;line-height: 1.5; font-size: 1.1rem;}
.button5:hover{ color:#181d38; border: 1px solid #de1819 transparent ;}

.button6{ width: 15%;padding: 20px 0;text-align: center;margin: 0 1rem;border-radius:5px 5px;font-weight: 600; position: relative; left: 400px; bottom: 55px;color: #ffffff; cursor: pointer; line-height: 1.5;font-size: 1.1rem;}
.button6:hover{ color:#181d38; border: 1px solid #de1819 transparent ;}

.dis1{ background: linear-gradient(rgba(0,0,0,.8),rgba(0,0,0,.8)),url('../img/registration.jpg'),no-repeat center center; background-size: cover; opacity: 1; width: 100%; padding-bottom: 8rem;  padding-top: 3rem;  padding-right: 15px; padding-left: 15px; margin-right: auto;  margin-left: auto;}

.dis2{ align-items: center; position: relative; width: 100%; padding-right: 15px; padding-left: 15px; margin-bottom: 1.5rem; letter-spacing: 5px; color: #f60;text-transform: uppercase;font-size: 25px;margin-left: 2.5rem;padding-left: 6.5rem;line-height: 1.5;}

.dis3-div{ color: #fff;  font-weight: 400; margin-top: 0; margin-bottom: 1rem;margin-top: 0;font-size: 1.3rem;line-height: 1.5;text-align: left;margin-left: 2.5rem; padding-left: 6.5rem;}

.dis3{ color: #fff; font-weight: 700; margin-bottom: 0.5rem; line-height: 1.5; margin-top: 0; font-size: 2.8rem; margin-left: 2.5rem; padding-left: 6.5rem;}

.dis4{color: #fff;margin: 0; padding-left: 0; padding-bottom: 0.5rem; padding-top: 0.5rem;  list-style: none; margin-left: 2.5rem; font-size: 1.1rem; line-height: 2.5; padding-left: 6.5rem;}

.a1{background-color:#fd5f00;width: 500px;position: relative;left: 100px;top:30px;border-radius: 30px;}

.now {color:#44425a;height: 60px;border-radius: 10px;position: relative;bottom: 10px; font-size: 2.5;text-align: center;font-weight: 700;}

.margin{line-height: 2.5;}

.w1{padding: 12px;position: relative;bottom: 15px;}

.w2{ padding: 12px; position: relative; bottom: 15px;}

#w3{ padding: 12px;position: relative;bottom: 35px;}

.message2{background: #44425a; border: 1px solid rgb(253, 95, 0);color: rgb(255, 255, 255);cursor: pointer;border-radius: 10px;box-shadow: none; text-align: center; position: relative; left: 110px; bottom: 10px;font-size: 1rem;width: 50%; height: 50px;}
.message2:hover{background: #44425a;border-color:#44425a;transform: scale(1.1);}

/* courses page */
.rock{width: 100%;margin-bottom: 20px;}
.detail1{cursor: pointer;font-size: 35px;font-weight: 600;color: #fd5f00;line-height: 1.5;font-family: Arial, Helvetica, sans-serif;}

.d1{font-size: 28px;line-height: 36px;font-weight: 700;font-family: sans-serif;list-style: none;
    margin-bottom: 12px;}

.d2{font-size: 18px; line-height: 24px; font-weight: 600;font-family: sans-serif;list-style: none;margin-bottom: 12px;color: #333;}

.d3{font-size: 16px;line-height: 24px;font-weight: 400;font-family: sans-serif;list-style: none;color: #484848;margin-bottom: 12px}

.high1{margin-bottom: 32px; font-size: 35px;line-height:50px;font-weight: 600;text-align: center;padding-top: 10px;}

.high2{margin: auto;display: flex;flex-wrap: wrap;row-gap: 32px;column-gap: 64px;padding-top: 10px;}

.blog-pdiv{font-size: 16px; line-height: 24px; font-weight: 400; color: #484848;margin-bottom: 0; line-height: 2;}

.blog-pdiv1{margin-bottom: 4px;font-size: 18px;line-height: 24px;font-weight: 600;color: #333;}
.blog-pdiv2{margin-bottom: 4px;font-size: 18px;line-height: 24px;font-weight: 600;color: #333;position: relative; left: 20px;}

.blog-pdiv3{font-size: 16px; line-height: 24px; font-weight: 400; color: #484848;margin-bottom: 0;position: relative; left: 20px;}

.bt1{background: #008bdc;box-shadow: 0 2px 4px rgba(0,0,0,.08);border-radius: 3px;color: #fff;font-weight: 600;min-width: 80px;line-height: 1.14285714;font-size: 14px;padding-top: calc(12px - 0px);padding-bottom: calc(12px - 0px);padding-left: calc(20px - 0px);padding-right: calc(20px - 0px);width: 30%; margin-top:30px;text-align: center; margin-left: 30%;}

.blo-div{width: 480px;  height: auto;  -webkit-transition: .3s ease-in-out;  transition: .3s ease-in-out}
.blo-div:hover{ width: 475px;opacity: 0.9;}
 /* contact us */
.basic{padding: 12px;position: relative;bottom: 12px;}
.basic1{padding: 12px;position: relative;bottom: 10px;}
.basic2{padding: 12px;position: relative;bottom: 12px;}
.textarea{padding: 14px;position: relative;bottom: 12px;}
/* about us */
.about-d{
   width: 100%;
   height: auto;
   box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
.to-dive:hover{
    filter: drop-shadow(0 2px 6px rgba(208, 224, 240, .8));
}
/* teachers */
.dive-div{
    margin-top: 30px;
}
.blow{
    margin-top: 30px;
}
